# dependencies
node_modules/
.pnp
.pnp.*

# next
.next/
out/
build/
next-env.d.ts
*.tsbuildinfo

# env
.env
.env*.local

# os / editor
.DS_Store
*.pem
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.shots/
